.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  display: block;
  width: 90%;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}
